.custom-width {
  width: 400px;
  margin: 0 auto;
}

.custom-margin {
  margin-top: 80px;
  margin-bottom: 30px;
}

.card {
  height: 450px;
}

.percentile-margin {
  margin-top: 20%;
}

.btn-custom-color:hover {
  background-color: rgb(12, 42, 74);
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: regular;
}


.btn-custom-color{
  background-color:rgb(20, 66, 114);
}