<div class="container custom-margin text-center">

  <h5 class="text-center mb-3">
    Find your house as NFT
  </h5>
  <div class="row custom-row">
    <div class="col align-self-center">
      <div class="card">
        <img class="card-img-top" src="assets/house/house1.jpeg" width="200" height="200" alt="Image 1">
        <div class="card-body text-center">
          <h5 class="card-title mb-3">Accident st, Wellington, New Zealand</h5>
          <div class="row percentile-margin">
            <div class="col align-self-center">
              <i class="fa-solid fa-bed"></i>
              <p>5bd</p>
            </div>
            <div class="col align-self-center">
              <i class="fa-solid fa-bath"></i>
              <p>5ba</p>
            </div>
            <div class="col align-self-center">
              <i class="fa-solid fa-swatchbook"></i>
              <p>2432m<sup>&#178;</sup></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="card">
        <img class="card-img-top" src="assets/house/house2.jpeg" width="200" height="200" alt="Image 1">
        <div class="card-body text-center">
          <h5 class="card-title mb-3">Sedie Volanti st, Rovigo, Veneto, Italy</h5>
          <div class="row percentile-margin">
            <div class="col align-self-center">
              <i class="fa-solid fa-bed"></i>
              <p>7bd</p>
            </div>
            <div class="col align-self-center">
              <i class="fa-solid fa-bath"></i>
              <p>6ba</p>
            </div>
            <div class="col align-self-center">
              <i class="fa-solid fa-swatchbook"></i>
              <p>4056m<sup>&#178;</sup></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="card">
        <img class="card-img-top" src="assets/house/house3.jpg" width="200" height="200" alt="Image 1">
        <div class="card-body text-center">
          <h5 class="card-title mb-3">Divorce st, Edinburgh, Scotland, United Kingdom</h5>
          <div class="row percentile-margin">
            <div class="col align-self-center">
              <i class="fa-solid fa-bed"></i>
              <p>3bd</p>
            </div>
            <div class="col align-self-center">
              <i class="fa-solid fa-bath"></i>
              <p>4ba</p>
            </div>
            <div class="col align-self-center">
              <i class="fa-solid fa-swatchbook"></i>
              <p>1478m<sup>&#178;</sup></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>