<!-- Background image -->
<div class="p-5 text-center bg-image text-white full-screen welcome-image mb-5">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-start align-items-center h-100">
      <div class="flex-fill text-start ms-5">
        <h1 class="mb-3">Buy and sell homes - <br> faster, easier and more securely</h1>
        <h4 class="mb-3">Powered by DFINITY's ICP Web3 Technology</h4>
        <a routerLink="/register" role="button" type="button" class="btn btn-outline-light btn-rounded btn-lg btn-custom-color">Get Started</a>
      </div>
      <div class="d-flex justify-content-end align-items-center h-100 me-5">
        <img src="assets/re_ally_white-removebg.png" alt="image description" width="200" height="200">
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
 
<div class="container-fluid text-center mb-5">
  <h2 class="mb-2" id="why-state">
    The future of real estate is now with re.ally
  </h2>
  <h5>
    Agents, buyers and sellers all over the country love
    the simplicity and security of re.ally.
  </h5>
  
</div>

<app-how></app-how>
<app-carousel></app-carousel>
  
<div class="container mb-5">
  <div>{{ title }} app is running!</div>
  <p> Greet {{ ic_response }}</p>
  
  <input type="text" id="name" name="name" #name>
  <button (click)="getGreet(name.value)">get data</button>
</div>


<app-footer></app-footer>

