<section style="margin-top: 100px; margin-bottom: 300px;">
  <div class="container vh-100">
    <div class="container">
      <h2>About us</h2>
      <h5>Welcome to re.ally, a company with the purpose of allow users to 
        buy and sell homes 
        <span class="text-decoration-underline">faster</span>, 
        <span class="text-decoration-underline">easier</span> and more 
        <span class="text-decoration-underline">securely</span>.
      </h5>
    </div>

    <div class="container mt-5">
      <h4>Here is our team :</h4>
      <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-md-6">

              <!-- Alec -->
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col col-md-4 col-sm-4 text-center align-self-center">
                    <img src="assets/team/alec.jpeg" width="150px" height="150px" class="img-fluid rounded-circle" alt="...">
                  </div>
                  <div class="col col-md-8 col-sm-8">
                    <div class="card-body d-flex flex-column justify-content-between">
                      <div>
                        <h5 class="card-title">Alessia Ceriachi</h5>
                        <p class="card-text mt-1 mb-1">Customer Strategy &amp; Process Consultant at IBM</p>
                      </div>
                      <a class="btn btn-outline-dark btn-floating text-black position-absolute bottom-0 mb-4" role="button"
                        href="https://www.linkedin.com/in/alessia-ceriachi-0747521b3/" target="_blank" id="linkedin-button">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Panza -->
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col col-md-4 col-sm-4 text-center align-self-center">
                    <img src="assets/team/ilpanza.jpeg" width="150px" height="150px" class="img-fluid rounded-circle" alt="...">
                  </div>
                  <div class="col col-md-8 col-sm-8">
                    <div class="card-body d-flex flex-column justify-content-between">
                      <div>
                        <h5 class="card-title">Francesco Panzera</h5>
                        <p class="card-text mt-1 mb-1">Attended Università di Parma</p>
                      </div>
                      <a class="btn btn-outline-dark btn-floating text-black position-absolute bottom-0 mb-4" role="button"
                        href="https://www.linkedin.com/in/francesco-panzera-2a3400146/" target="_blank" id="linkedin-button">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Alel -->
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col col-md-4 col-sm-4 text-center align-self-center">
                    <img src="assets/team/alel.jpeg" width="150px" height="150px" class="img-fluid rounded-circle" alt="...">
                  </div>
                  <div class="col col-md-8 col-sm-8">
                    <div class="card-body d-flex flex-column justify-content-between">
                      <div>
                        <h5 class="card-title">Alessandro Livia</h5>
                        <p class="card-text mt-1 mb-1">Legal Trainee</p>
                      </div>
                      <a class="btn btn-outline-dark btn-floating text-black position-absolute bottom-0 mb-4" role="button"
                        href="https://www.linkedin.com/in/alessandro-livia-9273aa254/" target="_blank" id="linkedin-button">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Dani -->
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col col-md-4 col-sm-4 text-center align-self-center">
                    <img src="assets/team/dani.jpeg" width="150px" height="150px" class="img-fluid rounded-circle" alt="...">
                  </div>
                  <div class="col col-md-8 col-sm-8">
                    <div class="card-body d-flex flex-column justify-content-between">
                      <div>
                        <h5 class="card-title">Danilo Crugliano</h5>
                        <p class="card-text mt-1 mb-1">Software Architect & Software Developer</p>
                      </div>
                      <a class="btn btn-outline-dark btn-floating text-black position-absolute bottom-0 mb-4" role="button"
                        href="https://www.linkedin.com/in/danilo-crugliano-4a9202204/" target="_blank" id="linkedin-button">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Giuse -->
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col col-md-4 col-sm-4 text-center align-self-center">
                    <img src="assets/team/giuse.jpeg" width="150px" height="150px" class="img-fluid rounded-circle" alt="...">
                  </div>
                  <div class="col col-md-8 col-sm-8">
                    <div class="card-body d-flex flex-column justify-content-between">
                      <div>
                        <h5 class="card-title">Giuseppe Sacco</h5>
                        <p class="card-text mt-1 mb-1">Software Developer</p>
                      </div>
                      <a class="btn btn-outline-dark btn-floating text-black position-absolute bottom-0 mb-4" role="button"
                        href="https://www.linkedin.com/in/giuseppe-sacco-6b44981a3/" target="_blank" id="linkedin-button">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
