<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-sm-7 col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 custom-color">Sign up</p>

                <form class="mx-1 mx-md-4">
                    <a class="btn btn-primary btn-rounded btn-circle btn-lg btn-block google-btn" role="button">
                      <img src="assets/google.ico" alt="metamask" width="20" height="20">
                      Continue with Google
                    </a>
                    <a class="btn btn-primary btn-rounded btn-lg btn-block metamask-btn" role="button">
                      <img src="assets/metamask.ico" alt="metamask" width="20" height="20">
                      Continue with Metamask
                    </a>
                    <a class="btn btn-primary btn-rounded btn-lg btn-block dfinity-btn" role="button">
                      <img src="assets/dfinity-icon.jpeg" alt="metamask" width="20" height="20">
                      Continue with Internet Identity
                    </a>
                  <div class="form-check d-flex justify-content-center mt-4 mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>
                </form>

              </div>
              <div class="col-sm-5 col-md-10 col-lg-6 col-xl-5 d-flex align-items-center order-1 order-lg-2">

                <img src="assets/logo_colored-removebg.png"
                  class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>