<!-- Footer -->
<footer class="text-center text-white bg-footer-custom">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: CTA -->
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Register for free</span>
        <button [routerLink]="['/register']" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-light btn-rounded btn-custom-color">
          Sign up!
        </button>
      </p>
    </section>
    <!-- Section: CTA -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="#">re.ally</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->