.nav-custom-color {
  background-color: rgb(20, 66, 114);
}

.navbar-brand {
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
}

.navbar {
  box-shadow: none;
  height: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.btn{
  transition: all 0.25s ease-out !important;
}

.clicked {
  transform: rotate(90deg)
}
