<div class="container-fluid col-8 col-xlg-6 justify-content-center">
  <div class="card text-center text-white bg-custom">
    <div class="card-body">
      <h4 class="card-text mb-4">How ?</h4>
      <h5 class="card-text mb-4">Sell</h5>
      <div class="row justify-content-center custom-text-color">
        <div class="col-3 align-self-center">
          <div class="card text-center custom-card-color card-max-width">
            <div class="card-body">
              <i class="fa-solid fa-house-user custom-icon mb-3"></i>
              <h6>Register</h6>
            </div>
          </div>
        </div>
        <div class="col-1 align-self-center">
          <i class="fa-solid fa-arrow-right custom-icon custom-arrow-icon"></i>
        </div>
        <div class="col-3 align-self-center">
          <div class="card text-center custom-card-color card-max-width">
            <div class="card-body">
              <i class="fa-solid fa-file-signature custom-icon mb-3 ms-2"></i>
              <h6>Sell</h6>
            </div>
          </div>
        </div>
      </div>
      <h5 class="card-text mt-4 mb-4">Buy</h5>
      <div class="row justify-content-center custom-text-color">
        <div class="col-3 align-self-center">
          <div class="card text-center custom-card-color card-max-width">
            <div class="card-body">
              <i class="fa-solid fa-magnifying-glass-location custom-icon mb-3"></i>
              <h6>Find</h6>
            </div>
          </div>
        </div>
        <div class="col-1 align-self-center">
          <i class="fa-solid fa-arrow-right custom-icon custom-arrow-icon"></i>
        </div>
        <div class="col-3 align-self-center">
          <div class="card text-center custom-card-color card-max-width">
            <div class="card-body">
              <i class="fa-solid fa-phone custom-icon mb-3"></i>
              <h6>Get in touch</h6>
            </div>
          </div>
        </div>
        <div class="col-1 align-self-center">
          <i class="fa-solid fa-arrow-right custom-icon custom-arrow-icon"></i>
        </div>
        <div class="col-3 align-self-center">
          <div class="card text-center custom-card-color card-max-width">
            <div class="card-body">
              <a routerLink="/register">
                <i class="fa-solid fa-house-circle-check custom-icon mb-3"></i>
              </a>
              <h6>Buy</h6>
            </div>
          </div>
        </div>
      </div>
      <a routerLink="/register" role="button" type="button"
        class="btn btn-outline-light btn-rounded btn-lg btn-card-custom-color mt-4">Get Started</a>
    </div>
  </div>
</div>