<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="card" style="border-radius: 25px;">
      <div class="card-body p-md-5">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="assets/logo_colored-removebg.png" class="img-fluid"
              alt="Phone image">
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 custom-color">Login</p>
            <form>
              <a class="btn btn-primary btn-rounded btn-circle btn-lg btn-block google-btn" role="button">
                <img src="assets/google.ico" alt="metamask" width="20" height="20">
                Continue with Google
              </a>
              <a class="btn btn-primary btn-rounded btn-lg btn-block metamask-btn" role="button">
                <img src="assets/metamask.ico" alt="metamask" width="20" height="20">
                Continue with Metamask
              </a>
              <a class="btn btn-primary btn-rounded btn-lg btn-block dfinity-btn" role="button">
                <img src="assets/dfinity-icon.jpeg" alt="metamask" width="20" height="20">
                Continue with Internet Identity
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>